body{
    font-family: 'Darker Grotesque', sans-serif;
} 


#mainpage {
    color: white;
}

#picture-header {
    background-image: url('../images/bike-background.jpg');
    background-size: cover;
    background-position: center;
    height: 150px;
    margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
}
.basket-img{
    width: 170px;
}
.ariane{
    margin-top: 25px;
}
.basket-item{
    background-color: gainsboro;
}
.total-box{
    font-weight: bold;
}
.btn-checkout{
    font-weight: bold;
}
